*{
  padding: 0;
  margin: 0;
}
.App{
  background-color: rgb(221, 184, 255);
  text-align: center;
}

@media only screen and (max-width:480px){
  .App{
    background-color: green;
  }


}

@media only screen and (min-width:481px) and (max-width:768px){
  .App{
    background-color: red;
  }



}

@media only screen and (min-width:769px) and (max-width:1024px){
  .App{
    background-color: blue;
  }


}

@media only screen and (min-width:1025px){
  .App{
    background-color: rgb(219, 217, 217);
  }

  
}






